<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TQGO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A70491320F2FD5600982DCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A70492720F2FD5800982DCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A70493220F2FD5800982DCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
