<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529481536918.jpg</string>
		<key>goodsCode</key>
		<string>BS_SJX_TZCL-E0V</string>
		<key>goodsName</key>
		<string>数据线倍思TZCL-E0V福旺充电一拖三礼品套装 （移动电源+数据线+支架）</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532934511912.jpg</string>
		<key>payPrice</key>
		<string>188</string>
		<key>price</key>
		<string>228</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529477831899.jpg</string>
		<key>goodsCode</key>
		<string>NM_YDDY_C640</string>
		<key>goodsName</key>
		<string>纽曼C640移动电源</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530264605723.jpg</string>
		<key>payPrice</key>
		<string>39</string>
		<key>price</key>
		<string>45</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529378761568.jpg</string>
		<key>goodsCode</key>
		<string>D8_40cm_applesjx</string>
		<key>goodsName</key>
		<string>潘多拉时尚元素苹果数据线</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530167525244.jpg</string>
		<key>payPrice</key>
		<string>158</string>
		<key>price</key>
		<string>178</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529056360732.jpg</string>
		<key>goodsCode</key>
		<string>TM_SJZJ_ZL01</string>
		<key>goodsName</key>
		<string>途美(Tourmate)车载出风口手机支架</string>
		<key>goodsSell</key>
		<string>1</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532934586473.jpg</string>
		<key>payPrice</key>
		<string>46</string>
		<key>price</key>
		<string>59</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529479667081.jpg</string>
		<key>goodsCode</key>
		<string>NM_YDDY_S320</string>
		<key>goodsName</key>
		<string>纽曼 S320移动电源</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530265166973.jpg</string>
		<key>payPrice</key>
		<string>33</string>
		<key>price</key>
		<string>35</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529479421490.jpg</string>
		<key>goodsCode</key>
		<string>ZM_SJX_AL811</string>
		<key>goodsName</key>
		<string>数据线紫米Lightning MFi认证苹果数据线 AL811/AL812</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532943846739.jpg</string>
		<key>payPrice</key>
		<string>42</string>
		<key>price</key>
		<string>49</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529475973154.jpg</string>
		<key>goodsCode</key>
		<string>HW_SHB29_GPSB</string>
		<key>goodsName</key>
		<string>华为运动手环 GPS版黑色B29</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530264243820.jpg</string>
		<key>payPrice</key>
		<string>378</string>
		<key>price</key>
		<string>388</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1528352301733.jpg</string>
		<key>goodsCode</key>
		<string>360_D603_ysb_sxt</string>
		<key>goodsName</key>
		<string>360 D603夜视版Plus摄像头</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530263034704.jpg</string>
		<key>payPrice</key>
		<string>189</string>
		<key>price</key>
		<string>199</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529378538643.jpg</string>
		<key>goodsCode</key>
		<string>D8_sjbkwxc</string>
		<key>goodsName</key>
		<string>D8塑胶爆款无线充</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530166189755.jpg</string>
		<key>payPrice</key>
		<string>98</string>
		<key>price</key>
		<string>118</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529480570835.jpg</string>
		<key>goodsCode</key>
		<string>NM_YDDY_RJ100</string>
		<key>goodsName</key>
		<string>纽曼RJ100移动电源</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530265142767.jpg</string>
		<key>payPrice</key>
		<string>53</string>
		<key>price</key>
		<string>60</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529485694651.jpg</string>
		<key>goodsCode</key>
		<string>SD_UP_CZ50_16G</string>
		<key>goodsName</key>
		<string>闪迪（SanDisk）酷刃CZ50（USB2.0）U盘 16GB</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532941616289.jpg</string>
		<key>payPrice</key>
		<string>49</string>
		<key>price</key>
		<string>57.9</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529481334395.jpg</string>
		<key>goodsCode</key>
		<string>360_SSWIFI</string>
		<key>goodsName</key>
		<string>360 随身WiFi 3代</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532934387429.jpg</string>
		<key>payPrice</key>
		<string>28</string>
		<key>price</key>
		<string>29.8</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529483750409.jpg</string>
		<key>goodsCode</key>
		<string>HW_EJ_AM115</string>
		<key>goodsName</key>
		<string>华为 荣耀原装AM115三键线控带麦半入耳式耳机</string>
		<key>goodsSell</key>
		<string>2</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530167623087.jpg</string>
		<key>payPrice</key>
		<string>38</string>
		<key>price</key>
		<string>39</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529377366583.jpg</string>
		<key>goodsCode</key>
		<string>D8_bllhjwxc_golden</string>
		<key>goodsName</key>
		<string>D8 玻璃铝合金无线充 金色 薄款</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530165794503.jpg</string>
		<key>payPrice</key>
		<string>238</string>
		<key>price</key>
		<string>398</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529477612303.jpg</string>
		<key>goodsCode</key>
		<string>NM_WXCDQ_Q8</string>
		<key>goodsName</key>
		<string>纽曼NM-Q8 无线充电器 立式快速无线充电器</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532935195359.jpg</string>
		<key>payPrice</key>
		<string>62</string>
		<key>price</key>
		<string>69</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529480708636.jpg</string>
		<key>goodsCode</key>
		<string>NM_YDDY_NS520</string>
		<key>goodsName</key>
		<string>纽曼NS520移动电源</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530265118569.jpg</string>
		<key>payPrice</key>
		<string>89</string>
		<key>price</key>
		<string>99</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532942274328.jpg</string>
		<key>goodsCode</key>
		<string>LK_LYQ_POWER 4S</string>
		<key>goodsName</key>
		<string>磊科POWER 4S 无线路由器</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532942241379.jpg</string>
		<key>payPrice</key>
		<string>136</string>
		<key>price</key>
		<string>149</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529483308090.jpg</string>
		<key>goodsCode</key>
		<string>BS_SJX_CAMLT-FW09</string>
		<key>goodsName</key>
		<string>数据线倍思CAMLT-FW09福旺充电一拖三数据线</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532935288275.jpg</string>
		<key>payPrice</key>
		<string>45</string>
		<key>price</key>
		<string>59</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529483476013.jpg</string>
		<key>goodsCode</key>
		<string>BS_SJX_CALMBJ-01</string>
		<key>goodsName</key>
		<string>数据线倍思CALMBJ-01简捷二合一便携款（安卓/苹果）</string>
		<key>goodsSell</key>
		<string>19</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530165681870.jpg</string>
		<key>payPrice</key>
		<string>17</string>
		<key>price</key>
		<string>19</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529477221213.jpg</string>
		<key>goodsCode</key>
		<string>LJ_SB_M185</string>
		<key>goodsName</key>
		<string>罗技M185无线鼠标</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530264339528.jpg</string>
		<key>payPrice</key>
		<string>58</string>
		<key>price</key>
		<string>70</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529481969754.jpg</string>
		<key>goodsCode</key>
		<string>BS_SJX_SUGENT-TZD09</string>
		<key>goodsName</key>
		<string>数据线倍思SUGENT-TZD09 金点子车载三件套 （数据线+车充+支架）</string>
		<key>goodsSell</key>
		<string>1</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532938864931.jpg</string>
		<key>payPrice</key>
		<string>139</string>
		<key>price</key>
		<string>179</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529481688796.jpg</string>
		<key>goodsCode</key>
		<string>AGZ_EJ_A631</string>
		<key>goodsName</key>
		<string>爱国者A631大动圈入耳式通话耳机带麦线控</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532942102673.jpg</string>
		<key>payPrice</key>
		<string>59</string>
		<key>price</key>
		<string>69</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529484264217.jpg</string>
		<key>goodsCode</key>
		<string>HP_XCJLY_F280</string>
		<key>goodsName</key>
		<string>惠普F280高清行车记录仪</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532935636383.jpg</string>
		<key>payPrice</key>
		<string>599</string>
		<key>price</key>
		<string>799</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529481816416.jpg</string>
		<key>goodsCode</key>
		<string>AGZ_EJ_A665</string>
		<key>goodsName</key>
		<string>爱国者A665入耳式耳机通用线控带麦耳塞</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532941870896.jpg</string>
		<key>payPrice</key>
		<string>46</string>
		<key>price</key>
		<string>49</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529480056273.jpg</string>
		<key>goodsCode</key>
		<string>NM_YDDY_Z100</string>
		<key>goodsName</key>
		<string>纽曼Z100移动电源</string>
		<key>goodsSell</key>
		<string>1</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530265227953.jpg</string>
		<key>payPrice</key>
		<string>42</string>
		<key>price</key>
		<string>48</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529477963141.jpg</string>
		<key>goodsCode</key>
		<string>NM_WXCDQ_K10</string>
		<key>goodsName</key>
		<string>纽曼 NM-K10 无线充电器</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532942507385.jpg</string>
		<key>payPrice</key>
		<string>119</string>
		<key>price</key>
		<string>139</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529481546885.jpg</string>
		<key>goodsCode</key>
		<string>TP-LINK_TL-WR710N</string>
		<key>goodsName</key>
		<string>TP-LINK TL-WR710N 150M便携式路由器 白色</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532941698402.jpg</string>
		<key>payPrice</key>
		<string>99</string>
		<key>price</key>
		<string>109</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529377827155.jpg</string>
		<key>goodsCode</key>
		<string>D8_ykllhjwxc_white_black</string>
		<key>goodsName</key>
		<string>D8亚克力铝合金无线充 白色/黑色</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530167579384.jpg</string>
		<key>payPrice</key>
		<string>128</string>
		<key>price</key>
		<string>148</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529477654998.jpg</string>
		<key>goodsCode</key>
		<string>NM_YDDY_M100</string>
		<key>goodsName</key>
		<string>纽曼M100移动电源</string>
		<key>goodsSell</key>
		<string>2</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530264665531.jpg</string>
		<key>payPrice</key>
		<string>60</string>
		<key>price</key>
		<string>68</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529476692162.jpg</string>
		<key>goodsCode</key>
		<string>HW_SHB19_BZB</string>
		<key>goodsName</key>
		<string>华为运动手环 标准版B19</string>
		<key>goodsSell</key>
		<string>1</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530264269207.jpg</string>
		<key>payPrice</key>
		<string>289</string>
		<key>price</key>
		<string>298</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529485298073.jpg</string>
		<key>goodsCode</key>
		<string>NM_EJ_LK06</string>
		<key>goodsName</key>
		<string>纽曼LK06全兼容线控音乐手机耳机</string>
		<key>goodsSell</key>
		<string>18</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532942660194.jpg</string>
		<key>payPrice</key>
		<string>12.9</string>
		<key>price</key>
		<string>15.9</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529477274696.jpg</string>
		<key>goodsCode</key>
		<string>BS_ZHK</string>
		<key>goodsName</key>
		<string>倍思手机支架指环扣</string>
		<key>goodsSell</key>
		<string>111</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532942008036.jpg</string>
		<key>payPrice</key>
		<string>12</string>
		<key>price</key>
		<string>14.9</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529484995111.jpg</string>
		<key>goodsCode</key>
		<string>MX_EJ_M18</string>
		<key>goodsName</key>
		<string>美讯M18 立体声蓝牙耳机</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532944100796.jpg</string>
		<key>payPrice</key>
		<string>45</string>
		<key>price</key>
		<string>49</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529477982012.jpg</string>
		<key>goodsCode</key>
		<string>NM_YX_MX06</string>
		<key>goodsName</key>
		<string>纽曼 NM-MX06蓝牙音箱</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530265039823.jpg</string>
		<key>payPrice</key>
		<string>189</string>
		<key>price</key>
		<string>199</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529479711255.jpg</string>
		<key>goodsCode</key>
		<string>ZM_SJX_AL803</string>
		<key>goodsName</key>
		<string>紫米数据线AL803 Lightning MFi认证苹果数据线</string>
		<key>goodsSell</key>
		<string>4</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532943884886.jpg</string>
		<key>payPrice</key>
		<string>52</string>
		<key>price</key>
		<string>59</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529475829316.jpg</string>
		<key>goodsCode</key>
		<string>HW_RYSH3_TJH</string>
		<key>goodsName</key>
		<string>华为荣耀手环3标准版 碳晶黑</string>
		<key>goodsSell</key>
		<string>1</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530264127801.jpg</string>
		<key>payPrice</key>
		<string>175</string>
		<key>price</key>
		<string>179</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529466988709.jpg</string>
		<key>goodsCode</key>
		<string>HW_YX_AM08</string>
		<key>goodsName</key>
		<string>华为荣耀小天鹅无线蓝牙音箱</string>
		<key>goodsSell</key>
		<string>1</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530264177997.jpg</string>
		<key>payPrice</key>
		<string>98</string>
		<key>price</key>
		<string>99</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529477330061.jpg</string>
		<key>goodsCode</key>
		<string>LJ_SB_M275</string>
		<key>goodsName</key>
		<string>罗技M275无线鼠标</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530264377728.jpg</string>
		<key>payPrice</key>
		<string>95</string>
		<key>price</key>
		<string>99</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529475545926.jpg</string>
		<key>goodsCode</key>
		<string>HP_SB_Z3700</string>
		<key>goodsName</key>
		<string>惠普Z3700 无线鼠标</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530264317999.jpg</string>
		<key>payPrice</key>
		<string>76</string>
		<key>price</key>
		<string>79</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529476974772.png</string>
		<key>goodsCode</key>
		<string>HW_SHB3_SWB</string>
		<key>goodsName</key>
		<string>华为手环B3 商务版</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530263601137.jpg</string>
		<key>payPrice</key>
		<string>1029</string>
		<key>price</key>
		<string>1047</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529478366220.jpg</string>
		<key>goodsCode</key>
		<string>NM_YDDY_K101</string>
		<key>goodsName</key>
		<string>纽曼K101移动电源</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530264634785.jpg</string>
		<key>payPrice</key>
		<string>82</string>
		<key>price</key>
		<string>90</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529478762750.jpg</string>
		<key>goodsCode</key>
		<string>NM_YDDY_C420</string>
		<key>goodsName</key>
		<string>纽曼C420移动电源</string>
		<key>goodsSell</key>
		<string>1</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530264573329.jpg</string>
		<key>payPrice</key>
		<string>30</string>
		<key>price</key>
		<string>33</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1528354412756.jpg</string>
		<key>goodsCode</key>
		<string>360_zndzbsxt</string>
		<key>goodsName</key>
		<string>360 智能摄像机大众版摄像头</string>
		<key>goodsSell</key>
		<string>1</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530263081994.jpg</string>
		<key>payPrice</key>
		<string>128</string>
		<key>price</key>
		<string>129</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529481319919.jpg</string>
		<key>goodsCode</key>
		<string>BS_SJX_YW</string>
		<key>goodsName</key>
		<string>数据线倍思艺纹 苹果 Iphone/IPad Lightning 1.2M</string>
		<key>goodsSell</key>
		<string>1</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530166124710.jpg</string>
		<key>payPrice</key>
		<string>20</string>
		<key>price</key>
		<string>26</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529484117515.jpg</string>
		<key>goodsCode</key>
		<string>HP_XCJLY_F860</string>
		<key>goodsName</key>
		<string>惠普 行车记录仪F860</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532941102595.jpg</string>
		<key>payPrice</key>
		<string>639</string>
		<key>price</key>
		<string>699</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529479890738.jpg</string>
		<key>goodsCode</key>
		<string>NM_YDDY_U100</string>
		<key>goodsName</key>
		<string>纽曼U100移动电源</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530265201153.jpg</string>
		<key>payPrice</key>
		<string>50</string>
		<key>price</key>
		<string>58</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529485807992.jpg</string>
		<key>goodsCode</key>
		<string>SD_UP_CZ50_32G</string>
		<key>goodsName</key>
		<string>闪迪（SanDisk）酷刃CZ50（USB2.0）U盘 32GB</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532941587609.jpg</string>
		<key>payPrice</key>
		<string>89</string>
		<key>price</key>
		<string>119</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529389841315.jpg</string>
		<key>goodsCode</key>
		<string>D8_1m_js_applesjx</string>
		<key>goodsName</key>
		<string>D8 1米金属外被苹果数据线</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530166001871.jpg</string>
		<key>payPrice</key>
		<string>83</string>
		<key>price</key>
		<string>89</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529485456733.jpg</string>
		<key>goodsCode</key>
		<string>NM_EJ_SL80</string>
		<key>goodsName</key>
		<string>纽曼NM-SL80无线蓝牙运动型蓝牙耳机</string>
		<key>goodsSell</key>
		<string>1</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532935122213.jpg</string>
		<key>payPrice</key>
		<string>89</string>
		<key>price</key>
		<string>99</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529481761010.jpg</string>
		<key>goodsCode</key>
		<string>BS_SJX_TZCAGJ-V1</string>
		<key>goodsName</key>
		<string>数据线倍思TZCAGJ-V1公爵3USB极速一拖三充电礼包 （公爵智能快充充电器+一拖三快充线）</string>
		<key>goodsSell</key>
		<string>1</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1532935399175.jpg</string>
		<key>payPrice</key>
		<string>88</string>
		<key>price</key>
		<string>108</string>
		<key>tags</key>
		<string></string>
	</dict>
</array>
</plist>
