<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1527236589887.jpg</string>
		<key>goodsCode</key>
		<string>BDT_qxscblb</string>
		<key>goodsName</key>
		<string>比得兔清新双层玻璃杯</string>
		<key>goodsSell</key>
		<string>29</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530257839259.jpg</string>
		<key>payPrice</key>
		<string>43</string>
		<key>price</key>
		<string>49</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1523254249475.jpg</string>
		<key>goodsCode</key>
		<string>BDT_bxgbjcj_pink</string>
		<key>goodsName</key>
		<string>比得兔樱花不锈钢便携餐具</string>
		<key>goodsSell</key>
		<string>25</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530173265692.jpg</string>
		<key>payPrice</key>
		<string>24</string>
		<key>price</key>
		<string>35</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1525229172196.jpg</string>
		<key>goodsCode</key>
		<string>Snoopy_hfjrtzc</string>
		<key>goodsName</key>
		<string>史努比红粉佳人体重秤</string>
		<key>goodsSell</key>
		<string>6</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530251193112.jpg</string>
		<key>payPrice</key>
		<string>59</string>
		<key>price</key>
		<string>60</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1527651229547.jpg</string>
		<key>goodsCode</key>
		<string>BDT_swscblb</string>
		<key>goodsName</key>
		<string>比得兔商务耐热双层玻璃杯</string>
		<key>goodsSell</key>
		<string>8</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530260747413.jpg</string>
		<key>payPrice</key>
		<string>45</string>
		<key>price</key>
		<string>49.9</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1521019748618.jpg</string>
		<key>goodsCode</key>
		<string>Midea_sdjqr</string>
		<key>goodsName</key>
		<string>美的 扫地机器人</string>
		<key>goodsSell</key>
		<string>5</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530168285907.jpg</string>
		<key>payPrice</key>
		<string>1299</string>
		<key>price</key>
		<string>1399</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1527652970410.jpg</string>
		<key>goodsCode</key>
		<string>Midea_xcq_VC12A1-FG</string>
		<key>goodsName</key>
		<string>美的吸尘器</string>
		<key>goodsSell</key>
		<string>4</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530261019144.jpg</string>
		<key>payPrice</key>
		<string>789</string>
		<key>price</key>
		<string>899</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1527653136653.jpg</string>
		<key>goodsCode</key>
		<string>Midea_xcq_VH1702</string>
		<key>goodsName</key>
		<string>美的吸尘器</string>
		<key>goodsSell</key>
		<string>2</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530261160828.jpg</string>
		<key>payPrice</key>
		<string>2999</string>
		<key>price</key>
		<string>3599</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1527652807007.jpg</string>
		<key>goodsCode</key>
		<string>Midea_xcq_MV-WJ12Q3</string>
		<key>goodsName</key>
		<string>美的吸尘器</string>
		<key>goodsSell</key>
		<string>2</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530260993167.jpg</string>
		<key>payPrice</key>
		<string>619</string>
		<key>price</key>
		<string>699</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1527238210876.jpg</string>
		<key>goodsCode</key>
		<string>Midea_xcq_VH1701</string>
		<key>goodsName</key>
		<string>美的吸尘器</string>
		<key>goodsSell</key>
		<string>2</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530257993309.jpg</string>
		<key>payPrice</key>
		<string>2199</string>
		<key>price</key>
		<string>2599</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1527651665716.jpg</string>
		<key>goodsCode</key>
		<string>Midea_xcq_R1-L061E</string>
		<key>goodsName</key>
		<string>美的吸尘器</string>
		<key>goodsSell</key>
		<string>7</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530260810441.jpg</string>
		<key>payPrice</key>
		<string>699</string>
		<key>price</key>
		<string>799</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1527652650753.jpg</string>
		<key>goodsCode</key>
		<string>Midea_xcq_VC12J1-FV</string>
		<key>goodsName</key>
		<string>美的吸尘器</string>
		<key>goodsSell</key>
		<string>3</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530597563660.jpg</string>
		<key>payPrice</key>
		<string>539</string>
		<key>price</key>
		<string>599</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1525245482094.jpg</string>
		<key>goodsCode</key>
		<string>Midea_czxcq</string>
		<key>goodsName</key>
		<string>美的车载吸尘器</string>
		<key>goodsSell</key>
		<string>3</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530168312589.jpg</string>
		<key>payPrice</key>
		<string>229</string>
		<key>price</key>
		<string>299</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1525245741898.jpg</string>
		<key>goodsCode</key>
		<string>Midea_xcq</string>
		<key>goodsName</key>
		<string>美的吸尘器</string>
		<key>goodsSell</key>
		<string>3</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530168360399.jpg</string>
		<key>payPrice</key>
		<string>399</string>
		<key>price</key>
		<string>500</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1527659268635.jpg</string>
		<key>goodsCode</key>
		<string>Midea_xcq_VR10F2-TB</string>
		<key>goodsName</key>
		<string>美的吸尘器</string>
		<key>goodsSell</key>
		<string>3</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530261183148.jpg</string>
		<key>payPrice</key>
		<string>3099</string>
		<key>price</key>
		<string>3599</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530254294221.jpg</string>
		<key>goodsCode</key>
		<string>SuporBWB_xkh</string>
		<key>goodsName</key>
		<string>苏泊尔一键开合保温杯 星空黑</string>
		<key>goodsSell</key>
		<string>3</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530254279332.jpg</string>
		<key>payPrice</key>
		<string>159</string>
		<key>price</key>
		<string>179</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1524909598098.jpg</string>
		<key>goodsCode</key>
		<string>Supor_mqxjq</string>
		<key>goodsName</key>
		<string>苏泊尔毛球修剪器</string>
		<key>goodsSell</key>
		<string>6</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530257157760.jpg</string>
		<key>payPrice</key>
		<string>34</string>
		<key>price</key>
		<string>35</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529393950317.jpg</string>
		<key>goodsCode</key>
		<string>LockLock_bwblb_red</string>
		<key>goodsName</key>
		<string>乐扣乐扣茶隔马克保温保冷杯 红色</string>
		<key>goodsSell</key>
		<string>4</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530170268382.jpg</string>
		<key>payPrice</key>
		<string>78</string>
		<key>price</key>
		<string>80</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1524622238205.jpg</string>
		<key>goodsCode</key>
		<string>BDT_tysgtccj_7jt</string>
		<key>goodsName</key>
		<string>比得兔田园时光陶瓷餐具7件套</string>
		<key>goodsSell</key>
		<string>3</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530173531544.jpg</string>
		<key>payPrice</key>
		<string>89</string>
		<key>price</key>
		<string>100</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1534407589740.jpg</string>
		<key>goodsCode</key>
		<string>Morphyrichards_MR9200</string>
		<key>goodsName</key>
		<string>摩飞便携果汁机</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1534407564468.jpg</string>
		<key>payPrice</key>
		<string>268</string>
		<key>price</key>
		<string>298</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1534414401582.jpg</string>
		<key>goodsCode</key>
		<string>Morphyrichards_MR1009</string>
		<key>goodsName</key>
		<string>摩飞酵素源液机</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1534414384998.jpg</string>
		<key>payPrice</key>
		<string>358</string>
		<key>price</key>
		<string>398</string>
		<key>tags</key>
		<string></string>
	</dict>
	<dict>
		<key>bigPictureUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1529396529791.jpg</string>
		<key>goodsCode</key>
		<string>BDT_sbbwb_pink</string>
		<key>goodsName</key>
		<string>比得兔手包保温杯-粉色</string>
		<key>goodsSell</key>
		<string>0</string>
		<key>goodsType</key>
		<string>2</string>
		<key>hideStatus</key>
		<string>1</string>
		<key>imgUrl</key>
		<string>http://www.tequango.com/privilegeGo/image/1530170441776.jpg</string>
		<key>payPrice</key>
		<string>49</string>
		<key>price</key>
		<string>50</string>
		<key>tags</key>
		<string></string>
	</dict>
</array>
</plist>
